<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModelsBDS.Properties.Settings.akpognlb_vw01_websiteBDSConnectionString"
            connectionString="Data Source=toiyeucongnghe.com;Initial Catalog=akpognlb_vw01_websiteBDS;User ID=akpognlb_vw01;Password=a0b1c2d3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>