div#tabs{
	width:240px;
	border:1px none #232343;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	color: #FFFFFF;	
}	
/* DIV that holds each tab*/
div.my_tab{
	padding: 5px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 100%;
}
	
/* Title of each tab, used when user don't have Javascript'*/	
div.my_tab h5{
	color:#414141;
	border-bottom:solid 1px #cacaca;
		
}
	
/* Tab Bar, created via JS*/
div#tab-bar{
	height:65px;
	border-bottom:solid 1px #414141;
	margin-bottom:0px;
	font:normal 12px "Trebuchet MS";
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
	
/* Single Tab */
div#tab-bar div.mt-tab{
	float:left;
	display:inline;
	position:relative;
	text-align:center;
	cursor:pointer;
	border-top:solid 1px #414141;
	border-left:solid 1px #414141;
	border-right:solid 1px #414141;
	border-bottom:solid 1px #414141;
	color:#013879;
	width: 25px;
	margin-top: 14px;
	margin-right: 5px;
	margin-bottom: -3px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
	
/* Single Tab, when active */
div#tab-bar div.mt-tab-active{
	background-color: #BBBBBB !important;
	float:left;
	display:inline;
	position:relative;
	text-align:center;
	cursor:pointer;
	border-top:solid 1px #414141;
	border-left:solid 1px #414141;
	border-right:solid 1px #414141;
	border-bottom:none 1px #414141;
	color:#013879;
	width: 25px;
	margin-top: 14px;
	margin-right: 5px;
	margin-bottom: -3px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
}
